  
  <ion-view>
    <ion-header-bar align-title="center" class="bar-balanced">
  <div class="buttons">
    <button class="button icon ion-ios-email" ui-sref="contact"></button>
  </div>
  <h1 class="title">MyParaDocs</h1>
  <div class="buttons">
    <button class="button icon ion-ios-gear" ui-sref="app.account"></button>
  </div>
</ion-header-bar>
	  <ion-content style="background:black" >
	
  <br/>
  <div class="list" style="background:url('img/background10.jpg');opacity:0.5;background-repeat:no-repeat;background-size:100% 100%;">

    <a class="item item-avatar" href="#" style="background-color:transparent;color:darkgreen;font-weight:bold">
    
       <i class="icon ion-laptop"><h2 style="color:darkgreen">Customizable Reports</h2></i>
      <p style="color:black;text-transform:uppercase;font-weight:bold">Create a report customizable to fix your needs. Following report types: First Aid, Injury, Incident, Observation, and Project/Task</p>
    </a>

    <a class="item item-avatar" href="#" style="background-color:transparent;color:darkgreen;font-weight:bold">
      <i class="icon ion-iphone"></i>
      <h2 style="color:darkgreen">Data Storage</h2>
      <p style="color:black;text-transform:uppercase;font-weight:bold">Whether online or offline, save and safely store your reports!</p>
    </a>
	
	<a class="item item-avatar" href="#" style="background-color:transparent;color:darkgreen;font-weight:bold">
      <i class="icon ion-paintbucket"></i>
      <h2 style="color:darkgreen">Download and Share</h2>
      <p style="color:black;text-transform:uppercase;font-weight:bold">Download PDF converted report(s) within seconds. Option available on mobile apps.</p>
    </a>
	
	
	<a class="item item-avatar" href="#" style="background-color:transparent;color:darkgreen;font-weight:bold">
      <i class="icon ion-social-twitter"></i>
      <h2 style="color:darkgreen">Data Collection</h2>
      <p style="color:black;text-transform:uppercase;font-weight:bold">Insert, Upload, and Maintain data for your reports. Enjoy built-in components including: text box, image upload, video upload, enabled geo-location, and edit capabilities.</p>
    </a>
	
</div>

<footer>
<button ui-sref="discover1" class="button button-block button-balanced"><p style="color:black">Start MyParaDocs Document Now</p></button><br/><br/><br/><br/><br/><br/><br/><br/>
 <ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Dashboard" icon="ion-ios-home" ui-sref="discover">
          <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-people" ui-sref="contact">
          <ion-nav-view name="konfigurasi-tab"></ion-nav-view>
        </ion-tab>
		
		
		
		<ion-tab title="Profile" icon="ion-ios-person" ui-sref="app.account">
          <ion-nav-view name="konfigurasi-tab"></ion-nav-view>
        </ion-tab>
		
      </ion-tabs>
</footer>
   </ion-content>
   
    </ion-view>