 <ion-view view-title="Settings">
 
  <ion-content style="background:url('img/background10.png');background-repeat:no-repeat;background-size:100% 100%;">

   

    
      
      <ion-list>
        
         <p class="center padding profile">
        <a ng-click="changeProfilePicture()">
           <img ng-src="{{AuthData.facebook.profileImageURL|| 'img/ionic.png'}}">
         </a>
      </p>
          <!-- Profile -->
        <ion-item class="item item-divider">
         Profile
          <span class="item-note">
            <ion-spinner ng-show="status.loadingProfile" class="spinner-small"></ion-spinner>
          </span>
        </ion-item>
        
      
       
        <ion-item ng-click="changeDisplayName()" style="color:black;background:transparent">
          Display name
          <span class="item-note">
            {{ProfileData.meta.displayName}}
          </span>
        </ion-item>
        
       
        
     
        <ion-item ng-click="other()" style="color:black;background:transparent">
          Bio & Other
		   <span class="item-note">
		  {{ OtherData.bio}}
		   </span>
        </ion-item>
		<ion-item class="item item-divider">
         Location
        </ion-item>
        
		<ion-item ng-click="other()" style="color:black;background:transparent">
          City
		   <span class="item-note">
		  {{ OtherData.city}}
		   </span>
        </ion-item>
        <!-- ./ Profile -->
        
        
        <ion-item class="item item-divider">
         Profile settings
        </ion-item>
        
        <ion-item ng-click="delivery()" style="color:black;background:transparent">
          Account Details
        </ion-item>
		
	
     <ion-item class="item item-icon-left item-assertive" menu-close ui-sref="splash">
          		          <i class="icon ion-power"></i>

		  Logout
          </ion-item>
		  
<br/><br/>
        
        <!-- ./ Account -->

      </ion-list><br/><br>
<ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Dashboard" icon="ion-ios-home" ui-sref="discover">
          <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-people" ui-sref="signup">
          <ion-nav-view name="konfigurasi-tab"></ion-nav-view>
        </ion-tab>
		
		
		
		<ion-tab title="Profile" icon="ion-ios-person" ui-sref="app.account">
          <ion-nav-view name="konfigurasi-tab"></ion-nav-view>
        </ion-tab>
		
      </ion-tabs>
  </ion-content>
</ion-view>
